<article class="services-info">
    <i class=@logo></i>
    <h3>@title</h3>
    <p>@info</p>
</article>

@code{
    [Parameter] public string logo { get; set; }
    [Parameter] public string title { get; set; }
    [Parameter] public string info { get; set; }
}