<div class="tech" id="@image">
    <img src="./img/@image" alt="@text">
    <p class="tech-title">@text</p>
</div>

@code{
    [Parameter] public string image { get; set; }
    [Parameter] public string text { get; set; }
}